@import url('https://use.typekit.net/tss1whr.css');

// --------------------------------------------------
// vars

@import './variables';

// --------------------------------------------------
// mixins

@import './mixins';
@import './helpers';
@import './typography';

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-weight: $regular;
  line-height: 1;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:export {
  primaryColor: $primary;
  white: $white;
  black: $black;
}
